<h1>Listing profiles</h1>


    <% @profiles.each do |profile| %>
<%= link_to 'Show', profile %>
<%= link_to 'Edit', edit_profile_path(profile) %>
 <%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>


<br>

<%= link_to 'New Profile', new_profile_path %>
