
  <% @pins.each do |pin| %>
<div class="grid">
    <figure class="effect-layla">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
        <figcaption>
        <h2><%= pin.description %></h2>
        <p><%= pin.user.name if pin.user %></p>
       </figcaption>
   </figure>
  </div>
  <% end %>

  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

