<!-- Jumbotron -->
<div class="jumbotron">
      <div class="profileimage"</div>
<!-- end jumbotron -->
</div>
 </div>
    <h2 class="lead2"> Joshua Ledbetter </h2>
    <p class="lead"> Space traveller. Calvin and Hobbes enthusiast. <br/>I specialize in over-analysis</p>

    <div class="container">


        <div class="col-sm-10">
          <b class="glyphicon glyphicon-user col-sm-4"></b>

           <p1>Hi, My name is Joshua Ledbetter. I am an aspiring web designer, web developer and magic-man of the interwebs. I currently am working for an Ecommerce company called Volusion where the only interaction I really get with coding comes from fixed other peoples broken websites, which can be pretty fun, but also not exacly what I want to do for the rest of my life. I built this site as a project for myself. It is build on Ruby on Rails and has a full stack user expirience, with user authentication and the ability to blog and upload photos."</p1>
        </div>

        <br>

        <div class="col-sm-8 pull-right">
                    <b class="glyphicon glyphicon-camera pull-right"></b>

          <p>I like to spend my time learning, taking pictures, swimming and watching Netflix. When Im not swimming, working or watching TV I'm usually trying to wrap my head around some random JavaScript Query. </p>
       </div>

        <div class="col-sm-10">
          <b class="glyphicon glyphicon-cloud col-sm-4"></b>

          <p>I grew up in Cork Ireland and moved to California when I was 18. After living ther for a year I deided to move to Texas, where I had a lot of family, so It made the transistion easy. Anyways, Enough about me. Take a look around the site! Theres not much here right now, but that will change soon :) </p>
        </div>
      </div>
      <hr>
