
<ul class="parallax">
	<li>
		<div class="parallax-background git-hub"></div>
			<p class="git-header">
				<a href="https://github.com/ledbetterljoshua" target="_blank">Go to my GitHub</a></p>
		<div class="subContent-img">
		</div>
	</li>
	<li class="intro-portfolio">
		<div class="parallax-background"></div>
		<div class="subContent">
			<h1>Its hard to put everything I do online</h1>
			<p>Most of my projects are still stuck in my dev folder, but if you keep comming back, hopefully I will have more here to show you. In the mean time, enjoy this awesome parallax effect.</p>
		</div>		
	</li>
	<li style="box-shadow: 0 8px 35px -6px black;
z-index: 1; z-index:1;">
		<div class="parallax-background manus"></div>
		<div class="subContent">
			<h1>Meet Manus</h1>
			<p><a href="http://damp-anchorage-3289.herokuapp.com/" target="_blank">A Task Manager</a></p>
		</div>		
	</li>
	<li>
		<div class="parallax-background ledbetter-life"></div>
		<div class="subContent">
			<h1>LedbetterLife.com</h1>
			<p><a href="http://www.ledbetterlife.com" target="_blank">Go to the Homepage</a></p>
		</div>
	</li>
	<li>
		<div class="parallax-background gem"></div>
		<div class="subContent">
			<h1>Ruby Gem</h1>
			<p>Comming Soon</p>
		</div>
	</li>
</ul>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

	(function($) {

		var $container = $(".parallax");
		var $divs = $container.find("div.parallax-background");
		var thingBeingScrolled = document.body;
		var liHeight = $divs.eq(0).closest("li").height();
		var diffHeight = $divs.eq(0).height() - liHeight;
		var len = $divs.length;

		var i, div,li,offset,scroll,top,transform;

		// cache 
		var offsets = $divs.get().map(function(div, d) {
			return $(div).offset();
		});

		var render = function() {

			top = thingBeingScrolled.scrollTop;

			for(i=0;i<len;i++) {

				div = $divs[i];

				//the offset
				offset = top - offsets[i].top;

				// The transform string
				scroll = ~~(offset / liHeight * diffHeight);

				 // The transform string
				transform = 'translate3d(0px, ' + scroll + 'px, 0px)';

				div.style.webkitTransform = transform;
				div.style.MozTransform = transform;
				div.style.msTransform = transform;
				div.style.OTransform = transform;
				div.style.Transform = transform;			
			}

		};

		(function loop(){
			requestAnimationFrame(loop);
			render();
		})();

		(function() {
			    var lastTime = 0;
			    var vendors = ['webkit', 'moz'];
			    for(var x = 0; x < vendors.length && !window.requestAnimationFrame; ++x) {
			        window.requestAnimationFrame = window[vendors[x]+'RequestAnimationFrame'];
			        window.cancelAnimationFrame =
			          window[vendors[x]+'CancelAnimationFrame'] || window[vendors[x]+'CancelRequestAnimationFrame'];
			    }

			    if (!window.requestAnimationFrame)
			        window.requestAnimationFrame = function(callback, element) {
			            var currTime = new Date().getTime();
			            var timeToCall = Math.max(0, 16 - (currTime - lastTime));
			            var id = window.setTimeout(function() { callback(currTime + timeToCall); },
			              timeToCall);
			            lastTime = currTime + timeToCall;
			            return id;
			        };

			    if (!window.cancelAnimationFrame)
			        window.cancelAnimationFrame = function(id) {
			            clearTimeout(id);
			        };
			}());

	})(jQuery);


</script>