<ul class="ch-grid">
    <li>
        <div class="ch-item ch-img-1">
            <div class="ch-info">
                <h4>Github.com</h4>
                <p>by Joshua Ledbetter <a href="https://github.com/ledbetterljoshua" target="_blank">View on Github</a></p>
            </div>
        </div>
    </li>
    <li>
        <div class="ch-item ch-img-2">
            <div class="ch-info">
                <h4>Ledbetter Life</h4>
                <p>by Joshua Ledbetter <a href="http://ledbetterlife.com/" target="_blank">View Live</a></p>
            </div>
        </div>
    </li>
    <li>
        <div class="ch-item ch-img-3">
            <div class="ch-info">
                <h4>Manus</h4>
                <p>by Joshua Ledbetter <a href="http://damp-anchorage-3289.herokuapp.com/" target="_blank">View on Heroku</a></p>
            </div>
        </div>
    </li>
    <li>
        <div class="ch-item ch-img-4">
            <div class="ch-info">
                <h4>Ruby Gem</h4>
                <p>by Joshua Ledbetter <a href="#">Comming Soon</a></p>
            </div>
        </div>
    </li>    
</ul>