/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear Class */
.clear {
	clear: both;
	clear:all;
}

h1 {
	text-align:center;
}

h3 {
	text-align:center;
}


/*----------------------------------------------------------------------------- 
=02 LAYOUT 
-----------------------------------------------------------------------------*/



.header {
	background: silver;
		margin: 0px 0px ;
}

#main {
	background: SkyBlue;
		width: 700px;

		float:left;
}


#footer {
	background: PeachPuff;
		padding: 50px;
}

.lead {
		color: grey;
		text-align: center;

}

.lead2 {
		color: black;
		margin-top: 50px;
		text-align: center;
}

.jumbotron {

	background-image: url(image_path('stars.jpg'));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
	}

.profileimage {
	position: center;
	height: 250px;
	max-width: 250px;
	border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	background-image: url(image_path('me.jpg'));
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 400px;
    margin-bottom: -150px;

}


body {

}

#container {
	max-width: 1000px;
	position: top;
}

.container {
	background-size: cover;
}

.container2 {

	background-image: url(image_path('stars.jpg'));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;

}

.container3 {
	padding-left: 25%;
	padding-right: 25%;
	position: center;
	text-align: left;
}

.container4 {

	background-image: url(image_path('stars.jpg'));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.center1 {
 position:absolute;
 top:30%;
 right:20%;
}


.glyphicon {
	font-size: 2em;
	display:block;
	text-align: center;
	color: #3a87ad;


}


.navbar-brand {
	color:transparent;
	padding: 50px;

}

.well {
	width:800px;
	background-position:center;
	margin-left: 100px;

}

.well-bottom {
	width:1000px;

	margin-top: 200px;
}

.post-title {
	font-size: 5em;
	text-align: center;
	font-family: sans-serif;
	text-shadow: 0 0 8px rgba(0, 0, 0, .3);
}


html,body
{
height:100%;
}

#wrap
{
min-height: 100%; 
}

#main
{
overflow:auto;
padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer 
{
position: relative;
margin-top: -150px; /* negative value of footer height */
height: 150px;
clear:both;
padding-top:20px;
color:#fff;
}


#ul {
	list-style: inline;
}

.home {
	position: top-left;
}

.right {
 position:absolute;
 top:20px;
 right:20px;

}

.left {
	margin-left: 20px;
}

.navbar-brand {
	position: top;
}

.pins {
		padding-top:60px;
}

hr.thin {
height: 1px;
border: 0;
color: #cfcfcf;
background-color: #cfcfcf;
width: 50%;
margin-top: 80px;
}


a.ex2:hover,
a.ex2:active {color:red;}


.stretch {
    width:100%;
    height:100%;
}

.stretch { min-width:100%; min-height:100%; width:auto; height:auto; }

.top1 {
	padding-top: 80px;

}


.button {
	text-align: center;
	width:120px;
    border: 1px solid #96d1f8;
   background: transparent;
   padding: 6.5px 13px;
   -webkit-border-radius: 37px;
   -moz-border-radius: 37px;
   border-radius: 37px;

   color: black;
   font-size: 20px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30px;
   }
.button:hover {
   border: #96d1f8;
   background: #bdc3c7;
     text-decoration: none;

   }
.button:active {
   border: #ffffff;
   background: transparent;
     text-decoration: none;
   }

.width {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


