/* Smartphones (portrait and landscape) ----------- */
@media only screen  and (min-device-width : 320px)  and (max-device-width : 480px) { 

.bg-img {

	display: none;
}
#container > header > div.title > h1 {
	font-size: 46px;
}
#container > header > div.title > nav {
	font-size: 16px;
}
.paragraphs {
	font-size: 14px;
}
#container > article > div > p:nth-child(1) {
	font-size: 2.15em;
}
.related {
font-size: 68%;
padding: 20px;
}

}

@media all and (max-width: 699px) {
.bg-img {

	display: none;
}
#container > header > div.title > h1 {
	font-size: 46px;
	color: currentcolor;
}
#container > header > div.title > p {
	color: currentcolor;
}
#container > header > div.title > nav {
	font-size: 16px;
}
.paragraphs {
	font-size: 14px;
}
#container > article > div > p:nth-child(1) {
	font-size: 2.15em;
}
.related {
	font-size: 68%;
	padding: 20px;
}
.subContent-img {
	position: absolute;
	top: 133px !important;
	font-family: helvetica;
	background-image: url(/assets/tgithub.png);
	background-repeat: no-repeat;
	height: 100%;
	background-size: contain !important;
	width: 67% !important;
	margin-left: 18% !important;
}
ul li .subContent {
	position: absolute;
	top: 0 !important;
	left: 10px !important;
	color: white;
	font-family: helvetica;
	font-size: 70% !important;
}

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
.bg-img {

	display: none;
}
#container > header > div.title > h1 {
	font-size: 46px;
}
#container > header > div.title > nav {
	font-size: 16px;
}
.paragraphs {
	font-size: 14px;
}
#container > article > div > p:nth-child(1) {
	font-size: 2.15em;
}
.related {
font-size: 68%;
padding: 20px;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

.bg-img {

	display: none;
}
#container > header > div.title > h1 {
	font-size: 46px;
}
#container > header > div.title > nav {
	font-size: 16px;
}
.paragraphs {
	font-size: 14px;
}
#container > article > div > p:nth-child(1) {
	font-size: 2.15em;
}
.related {
font-size: 68%;
padding: 20px;
}
}